@(users: Seq[User])
@main("ユーザ一覧ページ") {
    <table class="uk-table uk-table-hover uk-table-striped uk-table-condensed">
        <tr>
            <th>ID</th>
            <th>メールアドレス</th>
            <th>パスワード</th>
            <th>認証ID</th>
            <th>認証済み</th>
        </tr>
        @users.map { u =>
            <tr>
                <td>@u.user_id</td>
                <td>@u.email</td>
                <td>@u.password</td>
                <td>@u.verifyId</td>
                <td>@u.isVerified</td>
            </tr>
        }
    </table>
}