@(cs: Seq[Account])
@main("帳簿一覧ページ") {
    <table class="uk-table uk-table-hover uk-table-striped uk-table-condensed">
        <tr>
            <th>帳簿ID</th>
            <th>名前</th>
            <th>金額</th>
            <th>カテゴリ</th>
            <th>登録日</th>
            <th>支払い先</th>
            <th>支払い元</th>
        </tr>
        @cs.map { c =>
            <tr>
                <td>@c.account_id</td>
                <td>@c.name</td>
                <td>@c.amount</td>
                <td>@c.category_id</td>
                <td>@c.register_at</td>
                <td>@c.payment_source</td>
                <td>@c.payment_destination</td>
            </tr>
        }
    </table>
}
